.top-bar {
  border-bottom: 2px solid $primary-color;
  padding: 0 50px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 80px;
}

.top-bar-section {
  padding-top: 15px;
}

.hdr-logo-link {
  .title {
    color: #FFF;
    font-weight: 300;
  }
  .red {
    color: $primary-color;
    display: inline-block;
  }
}
