.top-bar {
  background: image-url("triangles-one.png") no-repeat darken($primary-color, 3);
  padding: 0 50px;
}

.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  line-height: 80px;
  background: darken($primary-color, 3);
}

.top-bar-section {
  padding-top: 15px;
}

.hdr-logo-link {
  .title {
    font-family: "Museo";
    font-weight: 300;
    color: #FFF;
  }
  .red {
    color: darken($primary-color, 30);
    display: inline-block;
  }
}

.section-title {
  color: $primary-color;
}

#footer {
  background: #191b1b;
  color: white;
  font-weight: 300;
  padding: 20px 0;
}
