#destaques {
  background-color: #ececec;
  padding: 20px 0;

  .post {
    background-color: #FFF;
    border: 1px solid #CCC;
    display: block;
    position: relative;

    .post-content {
      padding: 10px;

      .content {
        font-weight: 300;
        font-size: rem-calc(16);
      }

      .meta {
        font-size: rem-calc(13);
        bottom: 10px;
        position: absolute;
        width: 100%;

        .date {
            color: $primary-color;
            position: absolute;
            right: 20px;
            bottom: 0;
            text-align: center;
            text-transform: uppercase;
            .day {
              font-size: rem-calc(20);
              font-weight: 300;
              line-height: 10px;
            }
            .month {
              font-size: rem-calc(12);
              font-weight: 700;
            }
        }
      }
    }

    &.main {
      height: 570px;
      .title {
        font-size: rem-calc(27);
      }
      .meta {
        .date {
          .day {
            font-size: rem-calc(30);
            line-height: 30px;
          }
          .month {
            font-size: rem-calc(16);
          }
        }
      }
    }

    &.olders {
      height: 275px;
      .title {
        font-size: rem-calc(17);
      }
    }
  }
}

#social {
  background-color: #ececec;
  border-top: 1px solid #CCC;
  padding: 30px 0;

  .last-news {
    border-right: 1px solid #000;

    .list-last-news {
      margin-left: 0;
      padding-right: 20px;
      .news {
        list-style: none;

        .title {
          font-size: rem-calc(15);

          &.even {
            color: #626262;
          }

          &.odd {
            color: black;
          }
        }
      }
    }
  }

  .view-all {
    margin-right: 20px;
  }
}
