
@import "compass/css3";

@import "compass/utilities";



//Base
//Top bar
//Section_Home
//Section_Sobre
//Section_Productos
//Section_Donde
//Section_Portafolio
//Section_Blog



//Base

  //grid
   $row-width: rem-calc(1100);
  // $total-columns: 12;
  // $column-gutter: rem-calc(30);

  //colors
   $primary-color: #addac6;
   $secondary-color: #9e0829;

   .menu a{color:$secondary-color;
     :hover{color:$secondary-color;}
     :active{color:$secondary-color;}
   }

  //radius
  .bg-radius {
  @include border-radius(6px);
}

  //text
  .center{
    text-align:center;
  }

  //list
  li{
    list-style:none;
  }

  a{
    color:$secondary-color;
    :hover{color:$secondary-color;}
    :active{color:$secondary-color;}
  }

  h2{
    margin-bottom:6em;
  }

  //Sections
  section{
    padding-top:3rem;
    padding-bottom:5rem;
  }

  //button

  .b2x{
    width:12rem;
  }

  //filter
    // https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
    //
    // grayscale      ex: filter: grayscale(100%);
    // sepia          ex: filter: sepia(100%);
    // saturate       ex: filter: saturate(0%);
    // hue-rotate     ex: filter: hue-rotate(45deg);
    // invert         ex: filter: invert(100%);
    // brightness     ex: filter: brightness(15%);
    // contrast       ex: filter: contrast(200%);
    // blur           ex: filter: blur(2px);

    @mixin filter($filter-type,$filter-amount) {
    -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
    -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
    -o-filter: $filter-type+unquote('(#{$filter-amount})');
    filter: $filter-type+unquote('(#{$filter-amount})');
    }

// 05. Buttons
// We use these to control button text styles.
 $button-font-color: $secondary-color;
 $button-font-color-alt: $secondary-color;

// We use these to control various hover effects.
 $button-function-factor: 0%;

// We use these to control button border and hover styles.
 $button-border-width: 2px;
 $button-bg-color: transparent;
 $button-bg-hover: scale-color(white, $lightness: $button-function-factor);
 $button-border-color: $secondary-color;
 $secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor);
 $secondary-button-border-color: $secondary-button-bg-hover;

//Top bar
// Background color for the top bar
$topbar-bg-color: scale-color($primary-color, $lightness: -20%);
  $topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: 45px;


// Style the top bar dropdown elements
 $topbar-dropdown-bg: scale-color($primary-color, $lightness: -20%);
 $topbar-dropdown-toggle-color: $secondary-color;

// Set the link colors and styles for top-level nav
$topbar-link-color-hover: $secondary-color;
$topbar-link-color-active-hover: $secondary-color;
$topbar-link-bg: $topbar-bg;
$topbar-link-bg-active: $topbar-bg;

// Divider Styles
 $topbar-divider-border-top: solid 1px scale-color($topbar-bg-color, $lightness: -50%);

.top-bar-section{
  padding:0;
}

#home{
  padding:0;
  background-color:rgba($primary-color,0.3);
  .header{
    margin:auto;
    padding:0;
  }
  bg-radius{
    //overflow: hidden;
    width: 100%;
    display: table;
    text-align: center;
  }

  img.bg-radius{
    //z-index: 2;
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;
    //background-color:rgba($primary-color,0.9);
    //height:80%;
    //width:auto;
  }
  p{
    text-align:center;
    background-color:rgba($primary-color,0.5);
  }

  .bg-header{
    //position:absolute;
    //width: rem-calc(1155);
    //height:640px;
    //width: 100%;
    //overflow: hidden;
    //z-index: -100;

  }
  img.bg-header{
    margin:0;
    padding:0;
    //position:absolute;
    //z-index: -100;
    //width: rem-calc(1100);
    width: 100%;
    //display: block;
    //height:640px;
  }


}

ul.contato{
  z-index: 2;
  position: relative;
  list-style-type:none;
  background-color:rgba($primary-color,0.9);
  margin-bottom:3em;
  //z-index: 1;
  a{
    color:white;
    :hover{color:scale-color($secondary-color, $lightness:0%)}
    :active{color:scale-color($secondary-color, $lightness:0%)}
  }


li{
  text-align:center;
  margin-top:1em;
  padding:auto;
}
}

@media only screen and (min-width: 40.063em) {
  ul li a:after{
    color:$primary-color;
    content: attr(data-tel) attr(data-web) attr(data-skype) attr(data-email);
  }
}

//Section_Sobre

#sobre{
  //padding-bottom:6em;
}

.fotos-sobre{
  padding-top:3em;
  padding-bottom:2em;
  display:block;
  margin-left:auto;
  margin-right:auto;

  ul{
    list-style:none;
  }

   img{
    margin-left:.3em;
    margin-right:.3em;
    padding-right:auto;
    padding-left:auto;
    border: solid 2px $secondary-color;
    @include border-radius(100px);
  }

}


//Section_Productos
#productos{
  background-color:#DBE0DF;
}

.productos{
  padding-top:3em;
  padding-bottom:4em;
}

.producto{
  //width:200px;
  //height:280px;
  border: solid 2px $secondary-color;
  @include border-radius(20px);
}

.producto a p{
  text-align: center;
  //padding:10px;
  //position:absolute;
  //top:290px;
  color:$secondary-color;
  background-color:white;
  opacity:0;
  z-index:1;
  position: absolute;
  height: auto;
  width: 249px;
  top: 343px;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}
.producto a:hover p{
  opacity:1;
  top:340px;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}

.producto a img{
  @include border-radius(20px);
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}

.producto a:hover img{
  @include filter(grayscale, 100%);
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}


//Section_Donde

#donde{
  background-color:$primary-color;
  .donde_content{
    padding-top: 3em;
  }
  #marker_list{
    margin-left:0;
    li{
      text-align:center;
      margin-bottom:0.5em;
      cursor: pointer;
      border: solid 2px $secondary-color;
      background-color:rgba(255, 255, 255, 0);
      -webkit-transition: all .6s ease;
      -moz-transition: all .6s ease;
      -o-transition: all .6s ease;
      -ms-transition: all .6s ease;
      transition: all .6s ease;
      &:hover {
        background-color:rgba(255, 255, 255, 1);
       -webkit-transition: all .6s ease;
       -moz-transition: all .6s ease;
       -o-transition: all .6s ease;
       -ms-transition: all .6s ease;
       transition: all .6s ease;
      }
    }
    -webkit-columns: 4 150px;
    -moz-columns: 4 150px;
    columns: 4 150px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}

//Section_Portfolio
#portfolio{
  .carousel{padding-top:3em;}

  //padding-bottom:6em;


}

.portafolio{
  //margin-top:10em;
  margin-bottom:0;
  padding-bottom:0;
  padding-top:0;

  img{
  //width:200px;
  //height:280px;
  border: solid 2px grey;
  @include border-radius(100px);
  }
}

//Section_Blog

#blog{

  background-color: #DBE0DF;
  hr{

    color:white;
    border: solid 1px;
  }
  .readmore{
    padding-top:1rem;
  }
  .readmore a{
    position:relative;
    display: inline-block;
    top: -38px;
    background-color: #DBE0DF;
  }
  .readmore a:hover{
    background-color:white;
  }
  .posts{
    padding-top:3em;
    padding-bottom:4em;
  }
}

//Section_Contacto

#contacto{

  background-color:$primary-color;

  .contacto{
    padding-top:3em;
    padding-bottom:1em;
  }

  a{
    color:scale-color($primary-color, $lightness: 75%);
  }
  a:hover{
    color:scale-color($primary-color, $lightness: 50%);
  }
  .dados{
    text-align:center;
    //display: table;   /* Allow the centering to work */
    margin: 0 auto;
  }

}


//Footer
#footer{

  //padding:0;
  //margin:0;
  height:auto;
  background-color:scale-color($primary-color, $lightness: -25%);

  .foot{
    padding-top:1em;
    padding-bottom:1.5em;
  }

  p{
    //position:relative;
    //float:left;
    //margin:auto;
    //padding-top:12px;
    //top:50%;
    //transform: translateY(50%);
    color:scale-color($primary-color, $lightness: 25%);

  }
  ul{
    //position:relative;
    margin: auto;
    //padding-top:12px;
    //top:50%;
    //transform: translateY(50%);
    //float:right;
    list-style:none;

    li{
      margin-right:1.5em;
      padding:0;
      display:inline-block;

    }
  }
}
