#single {
  padding-top: 40px;
  .article-content  {
    p {
      font-weight: 300;
      font-size: rem-calc(18);
    }

    .article-h2 {
      margin: 0;
    }
    .blog-author {
      font-size: rem-calc(18);
    }
  }

  .comments {
    border-top: 1px dotted #aaa;
    padding-top: 20px;

    .respond {
      border: 1px solid #ccc;
      background: #eee;
      padding: 10px 20px;
      margin-bottom: 20px;

      #reply-title {
        font-size: rem-calc(18);
      }
      .comment-notes {
        font-size: rem-calc(12);
        font-weight: 300;
        color: $primary-color;
      }
      .form-allowed-tags {
        font-weight: 300;
        code {
          font-size: rem-calc(14);
          font-weight: 300;
        }
      }
    }
  }

  .widget {

    h4{
      font-size:rem-calc(21);
      padding-top: 2em;
    }
    a{
      color: lighten(#000, 20%);
    }
    ul {
      list-style: none;
    }
    li {
      padding-left: 0;

    }
    li:before {
      content: '';
      color: $primary-color;
      font-family: "FontAwesome";
      font-size:rem-calc(10);
      display: inline-block;
      margin-left: -1.6em;
      width: 1.8em;
    }

   }
  }
