  <div class="row">
    <div class="medium-6 small-centered columns ">
      <div class="foot center">
        <p>© ZENGUE</p>

      <p>El <a href="https://github.com/tatuguerra/zengue">código</a> de esta web está disponible bajo la llicencia <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>.</p>

      <ul><!-- href doesn't work for other than www or mail (check other forms) -->
        <li>
          <a data-contact="Contactame" href="#contacto">
            <i class="fa fa-envelope fa-lg"></i> </br>
          </a>
        </li>
        <li>
          <a data-pinterest="Pinterest" href="pinteres">
            <i class="fa fa-pinterest fa-lg"></i> </br>
          </a>
        </li>
        <li>
          <a data-googleplus="Zengue" href="zengue.google">
            <i class="fa fa-google-plus fa-lg"></i> </br>
          </a>
        </li>
        <li>
          <a data-facebook="Facebook" href="http://www.facebook.com">
            <i class="fa fa-facebook fa-lg"></i> </br>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
