<div class="row">
  <div class="large-4 columns">
    O código deste site é <a href="http://www.gnu.org/philosophy/philosophy.pt-br.html">livre</a>, licenciado sob a <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>. Você pode pegar o código executando o seguinte comando:
  </div>
</div>
