<section id="portofolio">
  <div class="row">
    <div class="small-12 columns">
      <h2>{{post.title}}</h2>

      {% filter shortcodes%}
        [gallery id="1802" columns="4" include="ids='.{{function('limit_gallery_images')}}'." ]
      {% endfilter %}
    </di
  </div>
  {{post | print_r}}
</section>
