{% extends "base.twig" %}

{% block content %}
{% include 'header.twig' %}
<section id="portofolio">
  <div class="row">
    <div class="small-12 columns">
      <h2>PORTFOLIO</h2>
      {% for post in portfolio | slice (1,2) %}
        {{post.content}}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
